# Backend
# Local geliştirme:
DATABASE_URL=postgresql://user:password@localhost:5432/marketapp
# Production (Supabase): Project Settings > Database > Connection string (Transaction pooling modu)
# DATABASE_URL=postgresql://postgres.xxxxx:PASSWORD@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true

JWT_SECRET=
PORT=3000

# Payment provider (to be decided: iyzico / PayTR / Stripe)
PAYMENT_API_KEY=
PAYMENT_SECRET_KEY=
