# Tuist tarafından üretilenler
*.xcodeproj
*.xcworkspace
/Derived/
/.build/
/Tuist/.build/
/Tuist/Dependencies/
graph.png
graph.dot

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store
